﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>
        Данное приложение предназначено для контроля эпидемиологической обстановки города в связи с короновирусной инфекцией.
        Приложение позволяет добавлять больницы, докторов, оборудование для больниц, пациентов и пробы.
    </p>

    <h3>Общая информация:</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Больницы
                </th>
                <th>
                    Количество сотрудников
                </th>
                <th>
                    Количество пациентов
                </th>
                <th>
                    Количество оборудования
                </th>
                <th>
                    Количество заражённых
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Hospital item in ViewBag.Hospitals)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Doctors.Count
                    </td>
                    <td>
                        @item.Patients.Count
                    </td>
                    <td>
                        @item.HospitalEquipment.Count
                    </td>
                    <td>
                        @{
                            int count = 0;
                            foreach (Patient patient in item.Patients)
                            {
                                if (patient.Infected)
                                    count++;
                            }
                            @count;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>