﻿@model lab5_defend.Tests

@{
    ViewData["Title"] = "Информация";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Пробы</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_test)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_test)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class="col-sm-10">
            @(Model.Patient.Surname + " " + Model.Patient.Name + " " + Model.Patient.Patronymic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
