﻿@model lab5_defend.Hospital

@{
    ViewData["Title"] = "Добавление";
}

<h1>@ViewData["Title"]</h1>

<h4>Больница</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        @foreach (Equipment item in ViewBag.equip)
        {
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="selectedEquipment" value="@item.Id" type="checkbox"/> @Html.DisplayFor(modelItem => item.Name)
                </label>
            </div>
        }
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
