﻿@model lab5_defend.Hospital

@{
    ViewData["Title"] = "Удаление";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Больница</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
