﻿@model lab5_defend.Hospital

@{
    ViewData["Title"] = "Информация";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Больница</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.HospitalEquipment)
        </dt>
@foreach (var item in Model.HospitalEquipment)
{
            <dt class="col-sm-2"></dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Equipment.Name)
            </dd>
}
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
