﻿@model lab5_defend.Hospital

@{
    ViewData["Title"] = "Редактирование";
}

<h1>@ViewData["Title"]</h1>

<h4>Больница</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label">Название</label>
                @Html.EditorFor(model => model.Name)
            </div>
        @foreach (Equipment item in ViewBag.equip)
        {
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="selectedEquipment" value="@item.Id" type="checkbox"
                           @(ViewBag.HospitalEquip.Contains(item.Id) ? "checked" : "") /> @Html.DisplayFor(modelItem => item.Name)
                </label>
            </div>
        }
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
